main{
    display: flex;
    flex-wrap: wrap;
}
div {
    display: flex;
    flex-direction: row;
}
p {
    display: flex;
    flex-wrap: wrap;
    width: calc(13 * 48px);
    height: calc(11 * 48px);
}

.tile {
    width: 20px;
    height: 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.path {
    background-color: greenyellow;
    border: 1px white solid;
    width : 46px;
    height : 46px;
    display :inline-block;
    text-align : center;
}
.wall {
    background-color: red;
    border: 1px white solid;
    width : 46px;
    height : 46px;
    display :inline-block;
    text-align : center;
}
.start {
    background-color: white;
    border: 1px white solid;
    width : 46px;
    height : 46px;
    display :inline-block;
    text-align : center;
}
.end {
    background-color: yellow;
    border: 1px white solid;
    width : 46px;
    height : 46px;
    display :inline-block;
    text-align : center;
}